.web-page-layout:has(.bg-gradient-custom) header {
  background: linear-gradient(to right, white, #ffeeff, white);
}

.mobile-nav {
  @apply h-screen fixed w-full overflow-hidden;
}

.web-page-layout:has(.mobile-nav), body:has(.mobile-nav), header::has(.mobile-nav) {
  overflow: hidden;
  background: linear-gradient(to right, white, #ffeeff, white);
  z-index: 10000;
}