@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #610c9f;
  --secondary: #940b92;
  --radius: 0.5rem;
}

.bg-gradient-custom {
  background: linear-gradient(to right, white, #ffeeff, white);
}

@import "./components";
@import "./base";
