@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #610c9f;
  --secondary: #940b92;
  --light-grey: #f2f2f2;
  --radius: 0.5rem;
}

.page-container {
  @apply px-[80px] lg:px-[100px] 2xl:px-[100px] 3xl:px-[300px];
}

// body {
//   font-family: Verdana;
// }

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
@import "./components";
@import "./base";
